<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.iot.mapper.RecogModelMapper">

    <resultMap type="RecogModel" id="RecogModelResult">
        <result property="modelId"    column="model_id"    />
        <result property="modelName"    column="model_name"    />
        <result property="status"    column="status"    />
        <result property="isShadow"    column="is_shadow"    />
        <result property="imgUrl"    column="img_url"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectRecogModelVo">
        select model_id, model_name, status, is_shadow, img_url, del_flag, create_by, create_time, update_by, update_time, remark from recog_model
    </sql>

    <select id="selectRecogModelList" parameterType="RecogModel" resultMap="RecogModelResult">
        <include refid="selectRecogModelVo"/>
        <where>
            <if test="modelName != null  and modelName != ''"> and model_name like concat('%', #{modelName}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isShadow != null "> and is_shadow = #{isShadow}</if>
            <if test="imgUrl != null  and imgUrl != ''"> and img_url = #{imgUrl}</if>
        </where>
    </select>

    <select id="selectRecogModelByModelId" parameterType="Long" resultMap="RecogModelResult">
        <include refid="selectRecogModelVo"/>
        where model_id = #{modelId}
    </select>

    <insert id="insertRecogModel" parameterType="RecogModel" useGeneratedKeys="true" keyProperty="modelId">
        insert into recog_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modelName != null and modelName != ''">model_name,</if>
            <if test="status != null">status,</if>
            <if test="isShadow != null">is_shadow,</if>
            <if test="imgUrl != null">img_url,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="modelName != null and modelName != ''">#{modelName},</if>
            <if test="status != null">#{status},</if>
            <if test="isShadow != null">#{isShadow},</if>
            <if test="imgUrl != null">#{imgUrl},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateRecogModel" parameterType="RecogModel">
        update recog_model
        <trim prefix="SET" suffixOverrides=",">
            <if test="modelName != null and modelName != ''">model_name = #{modelName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isShadow != null">is_shadow = #{isShadow},</if>
            <if test="imgUrl != null">img_url = #{imgUrl},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where model_id = #{modelId}
    </update>

    <delete id="deleteRecogModelByModelId" parameterType="Long">
        delete from recog_model where model_id = #{modelId}
    </delete>

    <delete id="deleteRecogModelByModelIds" parameterType="String">
        delete from recog_model where model_id in
        <foreach item="modelId" collection="array" open="(" separator="," close=")">
            #{modelId}
        </foreach>
    </delete>
</mapper>